# Notebook_01: Data Extraction

The objective of this notebook is to extract the raw data from the provided excel files, manipulate it and process it in such a way to make further analysis easier and more productive, and save the reformatted data as readily accessible csv files for later work.

## Imports & Setup

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
project_root = Path().resolve().parent
raw_data = project_root / 'Data' / 'Raw'

amp_path = raw_data / 'Al_Amplitude.xlsx'
freq_path = raw_data / 'Al_Nat_Freq.xlsx'

# Because the data is on sheets with different names
amp_sheet = 'Summary drop'
freq_sheet = 'Drop summary'

# Sets the rows to skip at the start for each set of data in order to grab the correct chunk
skip_rows5 = [0, 1]
skip_rows15 = list(range(18))
skip_rows25 = list(range(35))
n_rows = 12

# Sets the columns to either ignore or load depending on what features we want
# Since the sheets are formatted the same, we can either select values (frequency or amplitude) or 'drops' (frequency or amplitude drop)
val_cols = [0, 3, 4, 6, 8, 10, 12]
drop_cols = [0, 4, 5, 7, 9, 11, 13]

In [3]:
# Chunks of amplitude data
amp5_vals = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows5, nrows = n_rows, usecols = val_cols)
amp15_vals = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows15, nrows = n_rows, usecols = val_cols)
amp25_vals = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows25, nrows = n_rows, usecols = val_cols)

# Chunks of frequency data
freq5_vals = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows5, nrows = n_rows, usecols = val_cols)
freq15_vals = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows15, nrows = n_rows, usecols = val_cols)
freq25_vals = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows25, nrows = n_rows, usecols = val_cols)

# Chunks of amplitude drop data
amp5_drops = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows5, nrows = n_rows, usecols = drop_cols)
amp15_drops = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows15, nrows = n_rows, usecols = drop_cols)
amp25_drops = pd.read_excel(amp_path, sheet_name = amp_sheet, skiprows = skip_rows25, nrows = n_rows, usecols = drop_cols)

# Chunks of frequency drop data
freq5_drops = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows5, nrows = n_rows, usecols = drop_cols)
freq15_drops = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows15, nrows = n_rows, usecols = drop_cols)
freq25_drops = pd.read_excel(freq_path, sheet_name = freq_sheet, skiprows = skip_rows25, nrows = n_rows, usecols = drop_cols)

In [4]:
# Group all the amps/freqs vals/drops together
val_amp = [amp5_vals, amp15_vals, amp25_vals]
drop_amp = [amp5_drops, amp15_drops, amp25_drops]

val_freq = [freq5_vals, freq15_vals, freq25_vals]
drop_freq = [freq5_drops, freq15_drops, freq25_drops]

amp = pd.concat(val_amp, ignore_index = True)
amp_drop = pd.concat(drop_amp, ignore_index = True)

freq = pd.concat(val_freq, ignore_index = True)
freq_drop = pd.concat(drop_freq, ignore_index = True)

In [5]:
amp.sample(5)

,Unnamed: 0,D,CD/t,D.1,D.2,D.3,D.4
0,5,12.010000,0.000000,12.880000,13.780000,14.840000,15.880000
17,15,12.947627,0.333333,13.558356,14.757397,16.213333,16.607000
9,5,15.118261,0.666667,16.624333,18.032400,18.783333,19.240769
2,5,10.470000,0.170000,11.440000,12.020000,14.120000,15.260000
33,25,13.926087,0.666667,15.854286,16.596842,17.567800,18.371667

In [6]:
amp_drop.sample(5)

    Unnamed: 0      CD/t      d-d0    d-d0.1    d-d0.2    d-d0.3    d-d0.4
7            5  0.500000 -2.432059 -3.476809 -4.943333 -5.690000 -6.614324
8            5  0.583333 -2.738696 -3.972667 -5.405833 -6.231667 -6.908654
12          15  0.000000  0.000000 -0.870000 -1.770000 -2.830000 -3.870000
3            5  0.173333  2.130000  0.570000 -0.010000 -2.110000 -3.250000
0            5  0.000000  0.000000 -0.870000 -1.770000 -2.830000 -3.870000

In [7]:
freq.sample(5)

,Unnamed: 0,nf,CD/t,nf.1,nf.2,nf.3,nf.4
0,5,40.970000,0.000000,40.450000,39.050000,38.780000,37.930000
35,25,24.938974,0.833333,24.821111,22.681053,25.376667,23.680833
16,15,38.499535,0.250000,37.109452,37.021429,35.929412,34.574583
12,15,40.970000,0.000000,40.450000,39.050000,38.780000,37.930000
23,15,22.872000,0.833333,24.206897,22.374211,23.138841,20.055000

In [8]:
freq_drop.sample(5)

,Unnamed: 0,CD/t,f0-f,f0-f.1,f0-f.2,f0-f.3,f0-f.4
7,5,0.500000,7.329608,7.772545,8.558475,9.104091,10.530811
25,25,0.166667,1.510000,1.930000,2.930000,3.260000,4.260000
16,15,0.250000,2.470465,3.860548,3.948571,5.040588,6.395417
29,25,0.333333,2.746000,3.566667,4.509500,4.709231,6.235000
21,15,0.666667,10.458000,11.235806,11.684286,12.780435,13.456667

Excellent! It's worked. So now we have 4 neat dataframes all showing crack position (x), starting crack depth (CD), current crack depth/thickness ratio (CD/t)...

* 'freq' and 'amp' showing the measured natural frequencies and amplitudes

* 'freq_drop' and 'amp_drop' showing the drops in natural frequencies and amplitudes

## Tidying up & Adding Temperature

The repeated column names correspond to different temperatures during the test (22, 50, 100, 150 and 200 C). In order for all this data to work best with models/analysis later it needs to be in 'tidy' format where each row represents 1 instance rather than the matrix format it is in now where instances are at the intercept of columns and rows

In [9]:
# Set what the columns refer to in each case
val_col_list = ['x', 22, 'CD/t', 50, 100, 150, 200]
drop_col_list = ['x', 'CD/t', 22, 50, 100, 150, 200]

freq.columns = val_col_list
amp.columns = val_col_list

freq_drop.columns = drop_col_list
amp_drop.columns = drop_col_list

In [10]:
freq.head()

   x         22      CD/t         50        100    150        200
0  5  40.970000  0.000000  40.450000  39.050000  38.78  37.930000
1  5  38.460000  0.166667  37.030000  36.780000  35.71  35.030000
2  5  38.360000  0.170000  37.000000  36.680000  35.68  35.100000
3  5  38.380000  0.173333  37.050000  36.680000  35.68  35.100000
4  5  37.480877  0.250000  36.216667  36.026154  34.93  34.181967

In [11]:
freq_drop.head()

   x      CD/t        22        50       100   150       200
0  5  0.000000  0.000000  0.520000  1.920000  2.19  3.040000
1  5  0.166667  2.510000  3.940000  4.190000  5.26  5.940000
2  5  0.170000  2.610000  3.970000  4.290000  5.29  5.870000
3  5  0.173333  2.590000  3.920000  4.290000  5.29  5.870000
4  5  0.250000  3.489123  4.753333  4.943846  6.04  6.788033

In [12]:
# Now for a bit of reording to make the value ones more readable, the drop ones are already in this order
freq = freq[['x', 'CD/t', 22, 50, 100, 150, 200]]
amp = amp[['x', 'CD/t', 22, 50, 100, 150, 200 ]]

In [13]:
freq.head()

   x      CD/t         22         50        100    150        200
0  5  0.000000  40.970000  40.450000  39.050000  38.78  37.930000
1  5  0.166667  38.460000  37.030000  36.780000  35.71  35.030000
2  5  0.170000  38.360000  37.000000  36.680000  35.68  35.100000
3  5  0.173333  38.380000  37.050000  36.680000  35.68  35.100000
4  5  0.250000  37.480877  36.216667  36.026154  34.93  34.181967

In [14]:
amp.head()

   x      CD/t         22         50    100        150       200
0  5  0.000000  12.010000  12.880000  13.78  14.840000  15.88000
1  5  0.166667  12.290000  12.940000  13.80  14.900000  15.86000
2  5  0.170000  10.470000  11.440000  12.02  14.120000  15.26000
3  5  0.173333   9.880000  11.440000  12.02  14.120000  15.26000
4  5  0.250000  12.786667  13.282105  14.36  15.341154  16.33377

In [15]:
freq_drop.head()

   x      CD/t        22        50       100   150       200
0  5  0.000000  0.000000  0.520000  1.920000  2.19  3.040000
1  5  0.166667  2.510000  3.940000  4.190000  5.26  5.940000
2  5  0.170000  2.610000  3.970000  4.290000  5.29  5.870000
3  5  0.173333  2.590000  3.920000  4.290000  5.29  5.870000
4  5  0.250000  3.489123  4.753333  4.943846  6.04  6.788033

In [16]:
amp_drop.head()

   x      CD/t        22        50   100       150      200
0  5  0.000000  0.000000 -0.870000 -1.77 -2.830000 -3.87000
1  5  0.166667 -0.280000 -0.930000 -1.79 -2.890000 -3.85000
2  5  0.170000  1.540000  0.570000 -0.01 -2.110000 -3.25000
3  5  0.173333  2.130000  0.570000 -0.01 -2.110000 -3.25000
4  5  0.250000 -0.776667 -1.272105 -2.35 -3.331154 -4.32377

All the columns match, and we've got our crack lengths along with all the frequency or amplitude data at all the different temperatures the next stage is to melt or unstack these to turn them into 'tidy' tabular data.

## Converting to Tidy Format

In [17]:
melt_test = pd.melt(freq_drop, id_vars = ['x', 'CD/t'], var_name = 'temp', value_name = 'nf_drop')

In [18]:
melt_test

      x      CD/t temp    nf_drop
0     5  0.000000   22   0.000000
1     5  0.166667   22   2.510000
2     5  0.170000   22   2.610000
3     5  0.173333   22   2.590000
4     5  0.250000   22   3.489123
..   ..       ...  ...        ...
175  25  0.500000  200   8.497500
176  25  0.583333  200  10.695417
177  25  0.666667  200  12.893333
178  25  0.750000  200  15.091250
179  25  0.833333  200  17.289167

[180 rows x 4 columns]

In [19]:
# Use pd.melt to "tidy" the data
nf = pd.melt(freq, id_vars = ['x', 'CD/t'], var_name = 'temp', value_name = 'nf_hz')
nfdrop = pd.melt(freq_drop, id_vars = ['x', 'CD/t'], var_name = 'temp', value_name = 'nf_drop')

amp = pd.melt(amp, id_vars = ['x', 'CD/t'], var_name = 'temp', value_name = 'amp_mm')
ampdrop = pd.melt(amp_drop, id_vars = ['x', 'CD/t'], var_name = 'temp', value_name = 'amp_drop')

In [20]:
nf

      x      CD/t temp      nf_hz
0     5  0.000000   22  40.970000
1     5  0.166667   22  38.460000
2     5  0.170000   22  38.360000
3     5  0.173333   22  38.380000
4     5  0.250000   22  37.480877
..   ..       ...  ...        ...
175  25  0.500000  200  32.472500
176  25  0.583333  200  30.274583
177  25  0.666667  200  28.076667
178  25  0.750000  200  25.878750
179  25  0.833333  200  23.680833

[180 rows x 4 columns]

In [21]:
nfdrop

      x      CD/t temp    nf_drop
0     5  0.000000   22   0.000000
1     5  0.166667   22   2.510000
2     5  0.170000   22   2.610000
3     5  0.173333   22   2.590000
4     5  0.250000   22   3.489123
..   ..       ...  ...        ...
175  25  0.500000  200   8.497500
176  25  0.583333  200  10.695417
177  25  0.666667  200  12.893333
178  25  0.750000  200  15.091250
179  25  0.833333  200  17.289167

[180 rows x 4 columns]

In [22]:
amp

      x      CD/t temp     amp_mm
0     5  0.000000   22  12.010000
1     5  0.166667   22  12.290000
2     5  0.170000   22  10.470000
3     5  0.173333   22   9.880000
4     5  0.250000   22  12.786667
..   ..       ...  ...        ...
175  25  0.500000  200  17.736250
176  25  0.583333  200  18.053958
177  25  0.666667  200  18.371667
178  25  0.750000  200  18.689375
179  25  0.833333  200  19.007083

[180 rows x 4 columns]

In [23]:
ampdrop

      x      CD/t temp  amp_drop
0     5  0.000000   22  0.000000
1     5  0.166667   22 -0.280000
2     5  0.170000   22  1.540000
3     5  0.173333   22  2.130000
4     5  0.250000   22 -0.776667
..   ..       ...  ...       ...
175  25  0.500000  200 -5.726250
176  25  0.583333  200 -6.043958
177  25  0.666667  200 -6.361667
178  25  0.750000  200 -6.679375
179  25  0.833333  200 -6.997083

[180 rows x 4 columns]

Success!!

In [24]:
# Finally, combine them all into one

master = nf
master['nf_drop'] = nfdrop['nf_drop']
master['amp_mm'] = amp['amp_mm']
master['amp_drop'] = ampdrop['amp_drop']

In [25]:
master.head(10)

   x      CD/t temp      nf_hz    nf_drop     amp_mm  amp_drop
0  5  0.000000   22  40.970000   0.000000  12.010000  0.000000
1  5  0.166667   22  38.460000   2.510000  12.290000 -0.280000
2  5  0.170000   22  38.360000   2.610000  10.470000  1.540000
3  5  0.173333   22  38.380000   2.590000   9.880000  2.130000
4  5  0.250000   22  37.480877   3.489123  12.786667 -0.776667
5  5  0.333333   22  36.581754   4.388246  13.837949 -1.827949
6  5  0.416667   22  35.204118   5.765882  14.155294 -2.145294
7  5  0.500000   22  33.640392   7.329608  14.442059 -2.432059
8  5  0.583333   22  31.321739   9.648261  14.748696 -2.738696
9  5  0.666667   22  28.647826  12.322174  15.118261 -3.108261

In [26]:
master.shape

(180, 7)

In [27]:
# Save the processed version as a csv file
out_path = project_root / 'Data' / 'Interim'
file_name = out_path / 'processed_combined.csv'

if not Path.exists(file_name):
    master.to_csv(file_name, index = False)