# Notebook_12: Multi Out Regression

The idea of this notebook is to experiment with multi-output regression to see if I can predict both the location and the depth of the crack and with what accuracy

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LinearRegression, RidgeCV, Ridge
from sklearn.multioutput import MultiOutputRegressor


from src.models.model_metrics import score_model

In [2]:
import altair as alt
from altair_saver import save
import altair_data_server
alt.data_transformers.enable('data_server')

DataTransformerRegistry.enable('data_server')

In [3]:
project_root = Path().resolve().parent
data_path = project_root / 'Data' / 'Final' / 'al_data_final.csv'

In [4]:
from src.config import FIGURES

In [5]:
data = pd.read_csv(data_path)

In [6]:
data

      x  temp      nf_hz     amp_mm  tc_act
0     5    22  40.970000  12.010000    0.00
1     5    22  38.460000  12.290000    0.50
2     5    22  38.360000  10.470000    0.51
3     5    22  38.380000   9.880000    0.52
4     5    22  37.480877  12.786667    0.75
..   ..   ...        ...        ...     ...
175  25   200  32.472500  17.736250    1.50
176  25   200  30.274583  18.053958    1.75
177  25   200  28.076667  18.371667    2.00
178  25   200  25.878750  18.689375    2.25
179  25   200  23.680833  19.007083    2.50

[180 rows x 5 columns]

## Data Prep

For the sake of a quick experiment, let's stick to the polynomialising that we've done throughout and seemed to show the best results predicting the 1 target

In [7]:
# Split into target and features
X = data.drop(['tc_act', 'x'], axis = 1)
y = data[['tc_act', 'x']]

In [8]:
X

     temp      nf_hz     amp_mm
0      22  40.970000  12.010000
1      22  38.460000  12.290000
2      22  38.360000  10.470000
3      22  38.380000   9.880000
4      22  37.480877  12.786667
..    ...        ...        ...
175   200  32.472500  17.736250
176   200  30.274583  18.053958
177   200  28.076667  18.371667
178   200  25.878750  18.689375
179   200  23.680833  19.007083

[180 rows x 3 columns]

In [9]:
y

     tc_act   x
0      0.00   5
1      0.50   5
2      0.51   5
3      0.52   5
4      0.75   5
..      ...  ..
175    1.50  25
176    1.75  25
177    2.00  25
178    2.25  25
179    2.50  25

[180 rows x 2 columns]

In [10]:
# Train test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle = True, stratify = data['x'])

In [11]:
X_train

     temp      nf_hz     amp_mm
171   200  36.810000  13.240000
134   150  37.530000  11.560000
158   200  35.680000  15.210000
150   200  31.920833  18.212500
127   150  32.667059  17.291765
..    ...        ...        ...
143   150  25.376667  17.897800
53     50  36.338904  13.558356
175   200  32.472500  17.736250
164   200  29.385000  18.385000
136   150  36.895385  13.780000

[144 rows x 3 columns]

In [12]:
X_test

     temp      nf_hz     amp_mm
48     50  40.450000  12.880000
94    100  26.479474  17.924211
162   200  32.395167  17.302833
68     50  33.165333  15.248909
156   200  37.930000  15.880000
52     50  37.109452  12.339178
154   200  22.319231  19.562885
85    100  37.710000  13.900000
32     22  33.856087  13.464130
78    100  33.684063  16.340500
37     50  37.030000  12.940000
167   200  20.055000  19.965000
106   100  26.970526  17.676923
83    100  22.341905  19.271579
145   200  35.030000  15.860000
89    100  35.827945  14.757397
129   150  28.189565  18.036522
66     50  36.151915  13.934138
64     50  38.328421  12.284713
179   200  23.680833  19.007083
168   200  37.930000  15.880000
21     22  30.512000  14.110000
79    100  32.411525  16.953333
46     50  26.263125  17.827778
54     50  35.499412  14.712353
152   200  28.857692  18.918654
153   200  25.588462  19.240769
178   200  25.878750  18.689375
70     50  27.932222  16.736250
144   200  37.930000  15.880000
114   150  33.147436  17.158333
50     50  38.140000  11.120000
34     22  29.432564  14.388043
77    100  34.657500  15.453000
176   200  30.274583  18.053958
174   200  33.737647  16.888824

In [13]:
y_train

     tc_act   x
171    0.52  25
134    0.51  25
158    0.51  15
150    1.25   5
127    1.50  15
..      ...  ..
143    2.50  25
53     1.00  15
175    1.50  25
164    1.75  15
136    0.75  25

[144 rows x 2 columns]

In [14]:
y_test

     tc_act   x
48     0.00  15
94     2.25  15
162    1.25  15
68     1.75  25
156    0.00  15
52     0.75  15
154    2.25   5
85     0.50  15
32     1.75  25
78     1.25   5
37     0.50   5
167    2.50  15
106    2.25  25
83     2.50   5
145    0.50   5
89     1.00  15
129    2.00  15
66     1.25  25
64     0.75  25
179    2.50  25
168    0.00  25
21     2.00  15
79     1.50   5
46     2.25   5
54     1.25  15
152    1.75   5
153    2.00   5
178    2.25  25
70     2.25  25
144    0.00   5
114    1.25   5
50     0.51  15
34     2.25  25
77     1.00   5
176    1.75  25
174    1.25  25

In [15]:
prep_pipeline = Pipeline([
    ("scaler", StandardScaler())
])

In [16]:
X_train_prepared = prep_pipeline.fit_transform(X_train)
X_test_prepared = prep_pipeline.transform(X_test)

## Modelling

In [17]:
multi_linreg = MultiOutputRegressor(LinearRegression()).fit(X_train_prepared, y_train)
multi_ridge = MultiOutputRegressor(RidgeCV()).fit(X_train_prepared, y_train)

In [18]:
multi_linreg.score(X_train_prepared, y_train)

0.48691750487288554

In [19]:
multi_ridge.score(X_train_prepared, y_train)

0.48586839169647833

In [20]:
y_pred = multi_ridge.predict(X_test_prepared)

In [21]:
y_test

     tc_act   x
48     0.00  15
94     2.25  15
162    1.25  15
68     1.75  25
156    0.00  15
52     0.75  15
154    2.25   5
85     0.50  15
32     1.75  25
78     1.25   5
37     0.50   5
167    2.50  15
106    2.25  25
83     2.50   5
145    0.50   5
89     1.00  15
129    2.00  15
66     1.25  25
64     0.75  25
179    2.50  25
168    0.00  25
21     2.00  15
79     1.50   5
46     2.25   5
54     1.25  15
152    1.75   5
153    2.00   5
178    2.25  25
70     2.25  25
144    0.00   5
114    1.25   5
50     0.51  15
34     2.25  25
77     1.00   5
176    1.75  25
174    1.25  25

In [22]:
y_pred

array([[ 0.37317638, 15.6525319 ],
       [ 2.27715195, 12.61235336],
       [ 1.18195356, 15.07406934],
       [ 1.43283274, 13.76565104],
       [ 0.40420573, 16.22185141],
       [ 0.74098674, 16.02086828],
       [ 2.57384423, 13.23488738],
       [ 0.61650029, 15.80343278],
       [ 1.31127849, 14.59068846],
       [ 1.28425361, 13.90294003],
       [ 0.79428405, 15.56436627],
       [ 2.87894813, 12.90177085],
       [ 2.19936224, 12.80596093],
       [ 2.87915463, 11.53922062],
       [ 0.75614014, 16.20082633],
       [ 0.90808354, 15.12991527],
       [ 1.91230768, 13.5069456 ],
       [ 0.97345265, 14.79970757],
       [ 0.58849262, 16.07737207],
       [ 2.36757567, 13.67325666],
       [ 0.40420573, 16.22185141],
       [ 1.76566564, 14.05929562],
       [ 1.48380901, 13.42244356],
       [ 2.46112535, 11.72436278],
       [ 1.10945793, 14.20156486],
       [ 1.73031807, 13.80489915],
       [ 2.15208115, 13.51989327],
       [ 2.07667999, 13.94155284],
       [ 2.1784963 , 12.57272791],
       [ 0.40420573, 16.22185141],
       [ 1.24440442, 14.23460776],
       [ 0.52690308, 16.95804273],
       [ 1.91738685, 13.83502828],
       [ 1.10120679, 14.5879415 ],
       [ 1.49488863, 14.47814519],
       [ 0.98830825, 15.4047014 ]])

In [23]:
rmse_x = np.sqrt(mean_squared_error(y_test.values[:, 1], y_pred[:, 1]))
rmse_tc = np.sqrt(mean_squared_error(y_test.values[:, 0], y_pred[:, 0]))

In [24]:
rmse_x

8.154849510300615

In [25]:
rmse_tc

0.23914468589678947

In [26]:
multi_df = pd.DataFrame(columns = ['x_act', 'tc_act', 'x_pred', 'tc_pred'])

## Now Let's do it on the whole data

In [27]:
data

      x  temp      nf_hz     amp_mm  tc_act
0     5    22  40.970000  12.010000    0.00
1     5    22  38.460000  12.290000    0.50
2     5    22  38.360000  10.470000    0.51
3     5    22  38.380000   9.880000    0.52
4     5    22  37.480877  12.786667    0.75
..   ..   ...        ...        ...     ...
175  25   200  32.472500  17.736250    1.50
176  25   200  30.274583  18.053958    1.75
177  25   200  28.076667  18.371667    2.00
178  25   200  25.878750  18.689375    2.25
179  25   200  23.680833  19.007083    2.50

[180 rows x 5 columns]

In [28]:
# Shuffle the data
data_shuffled = data.sample(frac = 1)


# Split into target and features
X = data_shuffled.drop(['tc_act', 'x'], axis = 1)
y = data_shuffled[['tc_act', 'x']]

In [29]:
multi_ridge = RidgeCV()

multi_ridge.fit(X, y)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]))

In [30]:
multi_ridge.alpha_

10.0

In [31]:
y_pred = multi_ridge.predict(X)

In [32]:
y_pred

array([[ 0.65431563, 15.61586861],
       [ 2.77296462, 13.32480004],
       [ 0.56665673, 15.29234747],
       [ 2.86085574, 10.63701161],
       [ 2.47611683, 11.77003287],
       [ 1.26768165, 15.07281966],
       [ 0.35778531, 15.36515669],
       [ 0.65144759, 16.13935555],
       [ 1.04281957, 14.41190122],
       [ 1.01637738, 14.09102295],
       [ 2.35152485, 14.40534041],
       [ 0.68440406, 15.44850538],
       [ 0.89864476, 14.90198181],
       [ 0.61205343, 16.61829489],
       [ 1.7979565 , 15.02722579],
       [ 0.93168413, 15.14987815],
       [ 0.35778531, 15.36515669],
       [ 0.59248989, 16.90099022],
       [ 0.51011037, 15.64809515],
       [ 1.69105658, 12.8936918 ],
       [ 1.94093802, 13.01372152],
       [ 0.35829569, 15.33966566],
       [ 1.25018318, 13.67444966],
       [ 1.28452438, 13.5190989 ],
       [ 2.54688226, 15.2647713 ],
       [ 0.5982774 , 16.69034286],
       [ 0.83031128, 15.00412343],
       [ 0.71315629, 17.69834042],
       [ 2.80065649, 13.60694947],
       [ 1.14551318, 14.72817679],
       [ 0.70261248, 16.90774549],
       [ 1.29340635, 13.91458418],
       [ 1.06125972, 13.99162296],
       [ 2.20028769, 13.06726231],
       [ 1.45036881, 13.36602835],
       [ 1.42528832, 13.94541916],
       [ 2.06502944, 15.00204781],
       [ 0.70211768, 15.3421906 ],
       [ 1.90249292, 12.70374573],
       [ 0.57738838, 17.98927428],
       [ 1.44171653, 14.01203959],
       [ 1.09043424, 14.26641424],
       [ 0.52899142, 17.16819755],
       [ 2.27790655, 12.85714222],
       [ 2.04917777, 12.32474023],
       [ 0.43055281, 15.46199964],
       [ 1.5695398 , 13.15169544],
       [ 2.81757431, 14.3324817 ],
       [ 0.5679852 , 17.69908025],
       [ 0.57943031, 15.24379197],
       [ 2.558453  , 13.98752618],
       [ 1.7574913 , 14.28360946],
       [ 0.61653808, 18.19564489],
       [ 0.70395414, 15.53269685],
       [ 1.57182402, 14.9011146 ],
       [ 0.34713546, 15.48412439],
       [ 2.12627244, 13.70608268],
       [ 0.35829569, 15.33966566],
       [ 0.94841657, 14.74570318],
       [ 0.92921623, 14.8335613 ],
       [ 0.30619077, 19.76562427],
       [ 1.11170831, 14.16519987],
       [ 0.55823244, 16.47105785],
       [ 0.58642765, 14.82583752],
       [ 1.69409189, 13.42463918],
       [ 0.71763135, 15.91585171],
       [ 0.43355677, 18.52178913],
       [ 0.37075762, 15.14274636],
       [ 0.62582182, 15.29093778],
       [ 0.54171138, 17.5632901 ],
       [ 1.72549316, 13.32170197],
       [ 0.33018794, 18.95156011],
       [ 0.43355677, 18.52178913],
       [ 1.7126704 , 13.12354675],
       [ 1.20741511, 14.11786083],
       [ 0.77493849, 14.79421188],
       [ 0.77047132, 15.73269073],
       [ 0.30619077, 19.76562427],
       [ 1.73679913, 14.04582275],
       [ 1.97745853, 12.62858842],
       [ 0.35778531, 15.36515669],
       [ 0.84830893, 15.36440328],
       [ 2.45731592, 14.23692871],
       [ 0.60692771, 15.59262275],
       [ 0.74865179, 15.91165266],
       [ 0.55254469, 18.50231882],
       [ 0.54918867, 17.86372473],
       [ 1.95161923, 14.90229508],
       [ 1.45827771, 13.65766174],
       [ 0.70261248, 16.90774549],
       [ 0.97922687, 14.71251647],
       [ 0.43055281, 15.46199964],
       [ 0.59985272, 16.34601641],
       [ 1.89582252, 13.51932511],
       [ 2.47293707, 11.85945961],
       [ 1.47617773, 13.46424313],
       [ 0.59362742, 14.53948335],
       [ 0.48975017, 17.09927491],
       [ 2.70582407, 12.810123  ],
       [ 1.94467263, 14.01916237],
       [ 0.90414729, 15.69530766],
       [ 1.16345774, 14.16187851],
       [ 2.8692098 , 13.95528555],
       [ 1.33567401, 15.14079795],
       [ 0.44702816, 16.47918252],
       [ 1.67865514, 13.8001475 ],
       [ 0.56791379, 16.44913414],
       [ 2.64665035, 12.3196855 ],
       [ 2.40147689, 12.96407755],
       [ 1.1171902 , 15.41174622],
       [ 0.29059645, 16.6847233 ],
       [ 1.20607815, 14.14742228],
       [ 0.37075762, 15.14274636],
       [ 1.53088357, 15.05240377],
       [ 2.36110783, 13.93464396],
       [ 1.21552129, 13.58699825],
       [ 0.87503187, 15.51653222],
       [ 0.67449485, 16.74934331],
       [ 0.69213845, 16.07831571],
       [ 0.48807005, 17.72942442],
       [ 0.53718866, 18.73371614],
       [ 0.43055281, 15.46199964],
       [ 0.91274144, 15.29534272],
       [ 0.37075762, 15.14274636],
       [ 2.09705752, 14.14137573],
       [ 1.26333132, 13.67401924],
       [ 2.99063355, 14.26896968],
       [ 2.24111683, 14.28919664],
       [ 2.0572496 , 12.81839334],
       [ 1.15595643, 14.22671585],
       [ 2.54838798, 14.25458446],
       [ 0.80517998, 15.78862353],
       [ 0.57765668, 17.16606497],
       [ 0.83603213, 15.23520008],
       [ 0.90345642, 14.36406269],
       [ 2.22210525, 13.88695478],
       [ 0.85865721, 15.58062226],
       [ 2.52045773, 12.6905454 ],
       [ 1.11108179, 13.86277513],
       [ 0.9500484 , 14.97010563],
       [ 0.45219668, 17.65551191],
       [ 1.04899646, 15.03847155],
       [ 0.34713546, 15.48412439],
       [ 1.26967567, 13.34575273],
       [ 1.43921902, 13.67468549],
       [ 2.25268371, 12.58554644],
       [ 0.66667023, 15.25012721],
       [ 0.78769555, 15.92549376],
       [ 0.72162843, 16.00276796],
       [ 1.04745125, 14.12531895],
       [ 2.05450807, 14.34447494],
       [ 0.46766256, 17.25917703],
       [ 1.46903263, 12.83676622],
       [ 0.34713546, 15.48412439],
       [ 1.61684511, 13.03894999],
       [ 2.8209171 , 15.42705289],
       [ 2.19307888, 12.89215248],
       [ 1.46047452, 14.22274399],
       [ 1.34242956, 13.69422184],
       [ 1.59361897, 13.99048201],
       [ 0.61653808, 18.19564489],
       [ 0.33018794, 18.95156011],
       [ 1.85300587, 13.91400236],
       [ 0.68103633, 15.65872421],
       [ 1.81379295, 13.90539637],
       [ 1.09602555, 14.40828299],
       [ 1.41146487, 13.17021457],
       [ 0.62358936, 16.65733504],
       [ 1.75304587, 12.67659196],
       [ 0.76899669, 15.49481982],
       [ 0.70686111, 17.68778469],
       [ 1.21009478, 13.97917575],
       [ 0.75323483, 16.17502008],
       [ 2.88489405, 12.02093828],
       [ 0.92943089, 15.52622521],
       [ 0.52787633, 17.08259344],
       [ 1.59793785, 13.31849819],
       [ 1.37828492, 14.16101086],
       [ 0.67449485, 16.74934331],
       [ 0.75680387, 16.53424636]])

In [33]:
x_pred = y_pred[:, 1]
tc_pred = y_pred[:, 0]

In [34]:
multi_df = pd.DataFrame(columns = ['tc_act', 'x_act', 'tc_pred', 'x_pred'])

In [35]:
multi_df['tc_act'] = data_shuffled['tc_act']
multi_df['x_act'] = data_shuffled['x']
multi_df['tc_pred'] = tc_pred
multi_df['x_pred'] = x_pred
multi_df['temp'] = data_shuffled['temp']

In [36]:
multi_df

     tc_act  x_act   tc_pred     x_pred  temp
121    0.50     15  0.654316  15.615869   150
107    2.50     25  2.772965  13.324800   100
62     0.51     25  0.566657  15.292347    50
47     2.50      5  2.860856  10.637012    50
82     2.25      5  2.476117  11.770033   100
..      ...    ...       ...        ...   ...
136    0.75     25  0.527876  17.082593   150
56     1.75     15  1.597938  13.318498    50
163    1.50     15  1.378285  14.161011   200
147    0.52      5  0.674495  16.749343   200
52     0.75     15  0.756804  16.534246    50

[180 rows x 5 columns]

In [37]:
fig1 = alt.Chart(multi_df).mark_circle(opacity = 0.5).encode(
    x = alt.X('tc_act:Q', title = 'Actual Crack Depth (mm)'),
    y = alt.Y('tc_pred:Q', title = 'Predicted Crack Depth (mm)'),
    color = alt.Color('temp:O', title = 'Temperature (C)', scale = alt.Scale(scheme = 'reds'))
).properties(
    width = 800,
    height = 400,
    title = 'Multi-output Regression Prediction Accuracy (Aluminium) (Crack Depth)'
)

save(fig1, fp = str(FIGURES/'multi_output_crack_depth.png'), fmt = 'png', method = 'selenium', scale_factor = 6.0)

In [38]:
fig1

alt.Chart(...)

In [39]:
fig2 = alt.Chart(multi_df).mark_circle(opacity = 0.5).encode(
    x = alt.X('x_act:Q', title = 'Actual Crack Position (mm)'),
    y = alt.Y('x_pred:Q', title = 'Predicted Crack Position (mm)'),
    color = alt.Color('temp:O', title = 'Temperature (C)', scale = alt.Scale(scheme = 'reds'))
).properties(
    width = 800,
    height = 400,
    title = 'Multi-output Regression Prediction Accuracy (Aluminium) (Crack Position)'
)

save(fig2, fp = str(FIGURES/'multi_output_crack_position.png'), fmt = 'png', method = 'selenium', scale_factor = 6.0)

In [40]:
fig2

alt.Chart(...)

In [41]:
rmse_dict = {'Single Prediction': 0.179, 'Multi-Output Prediction': 0.209}

In [42]:
rmse_df = pd.DataFrame({'output': ['Single Prediction', 'Multi-Output Prediction'], 'RMSE': [0.179, 0.209]})

In [43]:
rmse_df

                    output   RMSE
0        Single Prediction  0.179
1  Multi-Output Prediction  0.209

In [44]:
fig3 = alt.Chart(rmse_df).mark_bar(size = 100).encode(
    x = alt.X('output:N', title = 'Model Prediction Mode', axis = None),
    y = alt.Y('RMSE:Q', title = 'Root Mean Squared Error (mm)'),
    color = alt.Color('output:N', title = 'Prediction Mode')
).properties(
    width = 500,
    height = 400,
    title = 'Single vs Multi-Output Predictive Accuracy (Aluminium) (Crack Depth)'
)

save(fig3, fp = str(FIGURES/'multi_output_accuracy.png'), fmt = 'png', method = 'selenium', scale_factor = 6.0)

In [45]:
fig3

alt.Chart(...)

In [46]:
# Recreate ML vs original model image in altair (final_rmse_comparison.png)

comp_df = pd.DataFrame({'model': ['Referenced Polynomial Model', 'Multiple Ridge Regression Model'], 'rmse': [0.799, 0.179]})

fig4 = alt.Chart(comp_df).mark_bar(size = 100).encode(
    x = alt.X('model:N', title = 'Model', sort = '-y', axis = None),
    y = alt.Y('rmse:Q', title = 'Root Mean Squared Error (mm)', scale = alt.Scale(domain = (0.0, 1.0))),
    color = alt.Color('model:N', title = 'Model')
).properties(
    width = 500,
    height = 400,
    title = 'RMSE Comparison (Aluminium) (Crack Depth)'
)

save(fig4, fp = str(FIGURES/'final_rmse_comparison.png'), fmt = 'png', method = 'selenium', scale_factor = 6.0)

In [47]:
fig4

alt.Chart(...)

In [48]:
comp_df_b = pd.DataFrame({'model': ['Traditional Curve Fitting', 'Multiple Ridge Regression Model'], 'rmse': [0.799, 0.179]})

fig4b = alt.Chart(comp_df_b).mark_bar(size = 100).encode(
    x = alt.X('model:N', title = 'Model', sort = '-y', axis = None),
    y = alt.Y('rmse:Q', title = 'Root Mean Squared Error (mm)', scale = alt.Scale(domain = (0.0, 1.0))),
    color = alt.Color('model:N', title = 'Model')
).properties(
    width = 500,
    height = 400,
    title = 'RMSE Comparison (Aluminium) (Crack Depth)'
)

In [49]:
fig4b

alt.Chart(...)

In [50]:
save(fig4b, fp = str(FIGURES/'ml_vs_curve_fitting.png'), fmt = 'png', method = 'selenium', scale_factor = 6.0)